user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile on;
    keepalive_timeout  300;
    proxy_read_timeout 300;
    proxy_connect_timeout 300;
    proxy_send_timeout 300;
    gzip  on;

    server {
        listen 80;



        location /dalle {
            add_header "X-Dalle-Container" "Dalle Backend";
            proxy_pass http://dalle-backend:8080/dalle;
        }

       location /status {
            add_header "X-Dalle-Container" "Dalle Backend";
            proxy_pass http://dalle-backend:8080/;
        }

        location /dalle-playground {
            add_header "X-Dalle-Container" "Dalle Frontend";
            proxy_pass http://dalle-interface:3000/dalle-playground/;
        }

      location /library.html {
            add_header "X-Dalle-Container" "Dalle Frontend";
            proxy_pass http://dalle-interface:3000/library.html;
        }

        location ^~ /getlibrary {
            add_header "X-Dalle-Container" "Dalle Frontend";
            proxy_pass http://dalle-interface:3000/library/library.json;
        }

        location / {
            add_header "X-Dalle-Container" "Dalle Frontend";
            proxy_pass http://dalle-interface:3000/dalle-playground/;
        }

    }
}

